@using LotusRMS.Models.Viewmodels.Order
@model AddNewOrderVM
<form id="ordertable"
    asp-action="AddNewOrder"
asp-controller="home"
asp-area="order"
data-ajax=true
data-ajax-success="menuAdded()"
      data-ajax-update="#NewOrderSection"
      data-ajax-loading="#overlay">
 <div class="modal-content pb-1">
            <div class="modal-header">
              <h5 class="modal-title">@Model.Item_Name</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="head-bar">
              <div class="left-side">
                <div class="quantity">Quantity</div>
                <input type="number" asp-for="Quantity" name="quantity" class="form-control" placeholder="quantity" readonly class="disabled-icon" onfocus="showTooltip()" onfocusout="removeTooltip()" title="Quantity goes here...">
                   <input asp-for="Rate" hidden/>
        <input asp-for="MenuId" hidden/>
        <input asp-for="TableId" hidden/>
       
              </div>
            <div class="qty">
                <select >
                    @foreach(var item in Model.Menu.Menu_Details)
                    {
                        if(item.Default){
                            <option qty="@item.Quantity" rate="@item.Rate" selected>@item.Quantity @Model.Item_Unit </option>
                        }else{
                        <option qty="@item.Quantity" rate="@item.Rate">@item.Quantity @Model.Item_Unit </option>
                        }
                    }
                </select>


            </div>
            </div>


            <span class="remarks-title">Remarks</span>
            <textarea placeholder="Remarks....." id="remarks" rows="3" asp-for="Remarks"
              class="textarea">
            </textarea>
            <div class="modal-body">
              <div class="grid">
                <div class="item item-num" onclick="addQuantity(1);">1</div>
                <div class="item item-num" onclick="addQuantity(2);">2</div>
                <div class="item item-num" onclick="addQuantity(3);">3</div>
                <div class="item item-num" onclick="addQuantity(4);">4</div>
                <div class="item item-num" onclick="addQuantity(5);">5</div>
                <div class="item item-num" onclick="addQuantity(6);">6</div>
                <div class="item item-num" onclick="addQuantity(7);">7</div>
                <div class="item item-num" onclick="addQuantity(8);">8</div>
                <div class="item item-num" onclick="addQuantity(9);">9</div>
                <div class="item item-num" onclick="addQuantity(0);">0</div>
                <div class="item item-clear" onclick="ClearQuantity();"><i class="fa-solid fa-delete-left"></i></div>

                <div onclick="submitform()" class="item item-done" >Done</div>
              </div>
            </div>

          </div>
          </form>
        
<script>
    function addQuantity(num){

        var quantity = document.getElementsByName("quantity")[0].value;
        quantity=parseInt(quantity)*10+num;
        console.log(quantity)
        document.getElementsByName("quantity")[0].value=quantity;

    }
    function ClearQuantity(){
        document.getElementsByName("quantity")[0].value = 0;
    }

    function submitform(){
        var quantity=document.getElementsByName("quantity")[0].value;
        if(parseInt(quantity)>0){
        $("#ordertable").submit();
        }else{
            document.getElementsByName("quantity")[0].focus();
        }
    }
    function menuAdded(){
        $('#addMenuModal').modal('hide');
    }
    function showTooltip() { 
        $("input[name='quantity']").tooltip('show');
    }

    function removeTooltip() {
        $("input[name='quantity']").tooltip('hide');
    }
</script>