@using LotusRMS.Models.Viewmodels.Order
@model List<AddNewOrderVM>


<table class="table table-striped">
    <thead>
        <tr>
            <th>S.N</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
        }
        @foreach (var item in Model)
        {

            <tr>
                <td>@i</td>
                <td>@item.Item_Name</td>
                <td>@item.Quantity</td>
                <td>@item.Rate</td>
                <td>@item.Total</td>
                <td>
                    <button>Delete</button>
                </td>
            </tr>
            i++;
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" class="text-align:right">

                <form 
                    asp-action="CompleteNewOrder"
                    asp-controller="Home"
                    asp-area="Order"
                    asp-route-tableId="@Model[0].TableId"
                    data-ajax="true"
                      data-ajax-success="$('#NewOrderSection').empty()"
                      data-ajax-update="#OrderSection">
                  <button type="submit" class="btn btn-primary">Complete</button>
                  </form>
            </td>
</tr>
    </tfoot>
</table>