@using LotusRMS.Models.Viewmodels.Order;
@model OrderVm


<div class="card mt-0">
    <div class="card-body card-right">
        <div class="heading-section py-3 d-flex justify-content-between align-items-baseline">

            <div class="refresh-menu d-flex">
                <div>
                <i class="fa-sharp fa-solid fa-bars ham-icon" onclick="openMenu();"></i>
                </div>
                   <div>
                <form class="refreshForm"
                      asp-action="getOrder"
                      asp-controller="home"
                      asp-area="order"
                      asp-route-id="@Model.TableId"
                      tableId="@Model.TableId"
                      data-ajax="true"
                      data-ajax-update="#orderSection"
                      data-ajax-loading="#overlay">
                        <i class="fa-solid fa-arrows-rotate refresh-icon" onclick="$('.refreshForm').submit()"></i>
                    <button type="submit" class="btn btn-primary refresh-btn">Refresh</button>
                </form>
                </div>
            </div>

            <div class="table-number text-secondary font-weight-bold h4">
                Table : @Model.Table_Name @*: <span class="table-no">5</span>*@
            </div>
            <div class="time text-secondary font-weight-bold font-size h5">
                <span class="hour">12</span>:<span class="minutes">45</span>:<span class="seconds">08</span><span class="am-pm"> PM</span>
            </div>
        </div>
        <div class="border-line"></div>
        <table class="table table-striped table-right">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Total</th>
                    <th scope="col" class="">Action</th>

                </tr>
            </thead>
            <tbody class="bill-tbody">
                @{
                    var i = 0;
                    if (Model.Order_No != null && Model.Order_Details.Count() == 0)
                    {
                        <tr class="bill-table-data">
                            <th colspan="6" class="text-center">
                                --- No any order yet---
                                <form asp-action="ReleaseTable"
                              asp-controller="Home"
                              asp-area="Order"
                              asp-route-OrderNo="@Model.Order_No"
                                  data-ajax="true"
                                  data-ajax-update="#orderSection"
                                  data-ajax-loading="#overlay">
                                    <button type='submit' class="btn btn-info">Release Table</button>
                                </form>
                             

                            </th>
                        </tr>
                    }
                    foreach (var item in Model.Order_Details)
                    {
                       i++;
                            <tr class="bill-table-data">
                                <th class="td-heading" scope="row">@i</th>
                                <td>@item.Item_Name</td>
                                <td>@item.Quantity </td>
                                <td>@item.Rate</td>
                                <td>@item.Total</td>
                                <td class="action">
                                    @if (item.IsComplete)
                                    {
                                        <i class="fa-solid fa-check m"></i>
                                    }
                                    else
                                    {
                                        <form asp-action="CompleteOrderDetail"
                              asp-controller="Home"
                              asp-area="Order"
                              asp-route-OrderNo="@Model.Order_No"
                              asp-route-OrderDetailId="@item.Id"
            data-ajax="true"
            data-ajax-update="#orderSection"
            data-ajax-loading="#overlay">
                                            <button type='submit' class="done btn btn-primary"><i class="fa-solid fa-square-check check"></i></button>
                                        </form>
                                        @if (!item.IsKitchenComplete)
                                        {
                                            <form asp-action="CancelOrder"
                              asp-controller="Home"
                              asp-area="Order"
                              asp-route-OrderNo="@Model.Order_No"
                              asp-route-OrderDetailId="@item.Id"
                data-ajax="true"
                data-ajax-confirm="Are you sure?"
                data-ajax-update="#orderSection"
                data-ajax-loading="#overlay">
                                                <button type="submit" class="delete btn btn-danger"><i class="fa-solid fa-trash-can trash"></i></button>
                                            </form>
                                        }

                                    }
                                    <div class="dropstart">
                                        @if (item.Remarks != null)
                                        {
                                            <button class="eye btn btn-secondary dropstart" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-eye eye"></i></button>

                                            <div class="dropdown-menu" style="min-width:15rem;">

                                                <div class="container">
                                                    @item.Remarks
                                                </div>

                                            </div>
                                        }

                                    </div>


                                </td>
                            </tr>
                       
                    }
                }
            </tbody>
            <tfoot class="font-weight-bold " style="background-color: whitesmoke;">
                <tr class="odd">
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>
                        <span>
                            @{
                                var gtotal = Model.Order_Details.Sum(x => x.Total);
                            }@gtotal
                        </span>/-
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div id="NewOrderSection">
    <partial name="_NewOrders" model="@ViewBag.NewOrder" />
</div>