@using LotusRMS.Models.Viewmodels.Galla;
@model  GallaVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (Model == null)
{
    
<div class="card p-3">
    <h3 class="text-denger align-center">@ViewBag.Message</h3>
    </div>
    
}else{

<div class="card p-3">
   <div class="card-title d-flex align-items-center justify-content-between">
       <p>Date: <span class="fs-5 text-dark">@Model.Date.ToShortDateString() </span></p>
        
        <p><button type="button" class="btn btn-primary me-1">Withdraw Galla</button><button type="button" class="btn btn-danger">Close Galla</button></p>
   </div>
    <div class="card-title d-flex align-items-center justify-content-between py-0">
        <p>Opening Balance: <span class="fs-5 text-dark">@Model.Opening_Balance</span></p>
        <p>Closing Balance: <span class="fs-5 text-dark">@Model.Closing_Balance</span></p>
        @*<p>Withdrawal amount: <span class="fs-5 text-dark">0</span></p>*@
    </div>
</div>
<div class="card p-3">
    <div class="card-title pt-0 text-center">
        Transactions Details
    </div>
    <div class="card-body">
            @if (Model.Galla_Details.Count() > 0)
            {
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-start">Time</th>
                            <th scope="col" class="text-start">Title</th>
                            <th scope="col" class="text-start">Deposits</th>
                            <th scope="col" class="text-start">Withdraw</th>
                            <th scope="col" class="text-start">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.Galla_Details){
                        <tr>
                            <td>@item.Time.ToShortTimeString()</td>
                            <td>@item.Title</td>
                            <td>@item.Deposit</td>
                            <td>@item.Withdrawl</td>
                            <td>@item.Balance</td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3 class="align-center text-danger">No any transection done yet...</h3>
                
            }
        </div>
</div>

}