@using LotusRMS.Models.Viewmodels.Order;
@model IEnumerable<TableTypeBookedVM>

<div class="card mb-3">
    <div class="card-body card-body-heading pt-0">

        <!-- Default Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @foreach (var item in Model)
            {

                @*  <button type="submit" class="btn typeUnBooked">@item.Type_Name</button>*@

                <li role="presentation">
                    <form class="TypeForm"
                          typeId="@item.Type_Id"
                          asp-action="getTable"
                          asp-controller="Home"
                          asp-area="checkout"
                          asp-route-id="@item.Type_Id"
                          data-ajax=true
                          data-ajax-success="afterTypeSuccess(this)"
                          data-ajax-update="#myTabContent"
                          data-ajax-loading="#overlay">
                        <div class="nav-item">
                            <button class="nav-links "
                                    type="submit" role="tab">
                                @item.Type_Name
                            </button>
                            @if (item.BookedCount > 0)
                            {
                                <span class="badge bg-danger badge-number notification-item ">@item.BookedCount</span>
                            }
                            else
                            {
                                <span class="badge bg-danger badge-number notification-item d-none">@item.BookedCount</span>
                            }
                        </div>
                    </form>
                </li>
            }
        </ul>
        <div class="tab-content pt-2" id="myTabContent">
        </div>
    </div>
</div>





<script>
    document.addEventListener("DOMContentLoaded", () => {
        if ($(".TypeForm").length > 0) {
            var TypeIdMain = document.getElementById("TypeIdMain").getAttribute("value");

            if (TypeIdMain != null && TypeIdMain != "") {
                $(".TypeForm[TypeId='" + TypeIdMain + "']").submit();
                document.getElementById("TypeIdMain").setAttribute("value", "");
            } else {

                $(".TypeForm:first").submit();
            }
        }
    });

    function afterTypeSuccess(me) {
        $(".TypeForm").children("div").children("button").removeClass("clickactive");
        $(me).children("div").children("button").addClass("clickactive");

        if ($(".TableForm").length > 0) {
            var TableIdMain = document.getElementById("TableIdMain").getAttribute("value");
            if (TableIdMain != null && TableIdMain != "") {
                $(".TableForm[TableId='" + TableIdMain + "']").submit();
                document.getElementById("TableIdMain").setAttribute("value", "");
            } else {
                $(".TableForm:first").submit();
            }
        }
    }

</script>