@using LotusRMS.Models.Viewmodels.Checkout;
@model PrintOrderDetailVM


@{
    Layout = null;
    ViewData["Title"] = "Invoice";
    }
<meta charset="UTF-8">
<style>


    #invoice-POS, th {
        font-size: 0.8rem !important;
        font-weight: 400 !important;
        font-style: normal !important;
        text-transform: uppercase !important;
        font-family: "Courier New", Courier, monospace !important;
    }



    .date, .bill {
        font-family: "Courier New", Courier, monospace !important;
        font-weight: normal !important;
        font-size: 0.8rem !important;
    }


    p {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }



    #invoice-POS {
        box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
        padding: 2mm;
        margin: 0 auto;
        width: 100mm;
        background: #FFF;
    }

    @@media print {
        .page-break {
            display: block;
            page-break-before: always;
        }

        #invoice-POS {
            margin: 0;
            width: 100%;
            box-shadow: unset;
            padding: 0;
        }
    }

    #invoice-POS ::selection {
        background: #f31544;
        color: #FFF;
    }

    #invoice-POS ::-moz-selection {
        background: #f31544;
        color: #FFF;
    }

    #invoice-POS p {
        font-size: .8rem;
        color: #000;
        line-height: 1.2em;
    }

    #invoice-POS #top .logo {
        height: 60px;
        width: 60px;
        background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
        background-size: 60px 60px;
    }

    #invoice-POS .clientlogo {
        float: left;
        height: 60px;
        width: 60px;
        background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
        background-size: 60px 60px;
        border-radius: 50px;
    }

    #invoice-POS .info {
        display: block;
        margin-left: 0;
        line-height: 0;
    }

    #invoice-POS .title {
        float: right;
    }

        #invoice-POS .title p {
            text-align: right;
        }

    #invoice-POS table {
        width: 100%;
        border-collapse: collapse;
    }

    #invoice-POS .tabletitle {
        font-size: .7rem;
        background: #EEE;
    }

 

    #invoice-POS .item {
        width: 24mm;
    }

    #invoice-POS .itemtext {
        font-size: .8rem;
    }

    #invoice-POS #legalcopy {
        margin-top: 5mm;
    }

    .total-calc {
        height: 20px;
        line-height: 0;
    }

        .total-calc .Rate {
            padding-right: 5px;
        }

    .myfontsize {
        font-size:0.7rem;
       
    }


    body {
        font-size: larger
    }
</style>

<script>


    function Popup(data) {
        var myWindow = window.open('', 'Receipt', 'height=400,width=600');
        myWindow.document.write('<html><head><title>Receipt</title>');
        /*optional stylesheet*/ //myWindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        myWindow.document.write('<style type="text/css"> *, html {margin:2px;padding:0;} </style>');
        myWindow.document.write('</head><body>');
        myWindow.document.write(data);
        myWindow.document.write('<\/body><\/html>');
        myWindow.document.close(); // necessary for IE >= 10

        myWindow.onload = function () { // necessary if the div contain images

            myWindow.focus(); // necessary for IE >= 10
            myWindow.print();
            myWindow.close();
        };
    }
</script>
<div id="invoice-POS">
    <center id="top">   
        <div class="info">
            <table style="border-bottom:1px dashed grey; ">
                <tr style="border: none;">
                    <th style="border: none;  text-align: left;">Order No:<label style="font-size:0.8rem"> @Model.OrderNo</label></th>
                    </tr>
                <tr style="border: none;">
                    <th style="text-align: left; border: none;">Table Name:<label style="font-size:0.8rem" @* id="Checkoutdate"*@> @Model.TableName</label> </th>
                </tr>
                <tr style="border: none;">
                    <th style="text-align: left; border: none;">Time<label style="font-size:0.8rem" @* id="Checkoutdate"*@> @Model.Time</label> </th>
                </tr>
            </table>
        </div><!--End Info-->
    </center><!--End InvoiceTop-->

  
  @*  <div id="mid" style="line-height: 0;">
        <div class="info">



            <p style="font-weight: bolder;">
                Name: @checkout.Customer_Name<br />
                Address: @checkout.Customer_Address<br />
                Phone: @checkout.Customer_Contact<br />
                Table : @order.Table_Name <br />
            </p>

        </div>
    </div><!--End Invoice Mid-->
    <hr>
    *@
    <div id="bot">

        <div id="table" style="">
            <table>
                <tr class="tabletitle" style="border-bottom: 1px dashed grey;font-size:0.8rem;" >
                    <th class="item"><p style="font-size:.8rem;">Sn</p></th>
                    <th class="item" style="text-align:left;"><p style="font-size:.8rem;">Item</p></th>
                    <th class="Hours"><p style="font-size:.8rem;">Qty</p></th>
                    <th class="item"><p style="font-size:.8rem;">Remarks</p></th>
                </tr>
                @{
                    int i = 0;
                }
                @foreach (var item in Model.OrderDetail)
                {
                    i++;
                    <tr class="service" style="border-bottom: 1px dashed gray">
                        <td class="tableitem" style="text-align: center;" width="8%"><p class="itemtext">@i</p></td>

                        <td class="tableitem" style="text-align: left;" width="47%"><p class="itemtext">@item.Item_Name </p></td>

                        <td class="tableitem" style="text-align: center;" width="11%"><p class="itemtext">@item.Quantity </p></td>
                         <td class="tableitem" style="text-align: right;"><p class="itemtext">@item.Remarks</p></td>

                    </tr>
                }
               
                @* <tr class="tabletitle total-calc" style="border-top: 2px solid black ;margin-top:10px;">
                <td colspan="4" class="Rate" style="text-align: right;"><label class="myfontsize">Others(rs.)</label></td>
                <td class="payment" style="text-align: right;"><label class="myfontsize">
                @{
                var servicecharge = 0.05 * total; }
                @servicecharge</label></td>

                </tr>*@




              

            </table>

            <div  style="margin-top:0.7rem;margin-left:0.5rem;">

                Served by:
                <span>User 1</span>
            </div>

        </div><!--End Table-->


    </div><!--End InvoiceBot-->
</div><!--End Invoice-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    @* var dt = new Date();
            var date = (dt.getMonth()+1) + "/" + dt.getDate() + "/" +dt.getFullYear();
            var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();

            $("#Checkoutdate").html(date+" "+time);*@
            window.print();

        // setTimeout("closePrintView()", 2000);
     
    });
    function closePrintView() {

        window.close();

        AfterPrint('@Model.OrderNo');
        window.location.href = "@ViewBag.ReturnUrl";
    }
    function AfterPrint(orderNo){
     $.ajax({
        type: 'GET',
        url: "/checkout/home/printKotComplete",
        data: "orderNo=" + orderNo,
        success: function (data) {
        alert("Print completed");
        }
    });
    }
</script>