@using LotusRMS.Models.Viewmodels.Menu
@model UpdateMenuVM


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<form class="row g-3 bordered" asp-action="Update" asp-controller="menu" asp-area="Admin" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update menu</h5>

                    <!-- Multi Columns Form -->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-12">
                        <label for="mName" class="form-label">Menu Name</label>

                        <input asp-for="Item_name" class="form-control" id="mName" placeholder="Menu Name">
                        <input asp-for="Id" class="form-control" hidden>

                        <span asp-validation-for="Item_name" class="text-denger"></span>
                    </div>

                    <div class="col-md-12">
                        <label for="mType" class="col-sm-12 col-form-label">Menu Type</label>
                        <div class="row">
                            <div class="col-12">
                                <select asp-for="Type_Id" class="form-control" onchange="loadData(this)" id="mType">
                                    <option>-- Select a menu type --</option>
                                    @foreach (var item in Model.Menu_Type_List)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            @* <div class="col-2">
                            <a class="btn btn-primary" asp-area="Admin" asp-action="create" asp-controller="MenuType" asp-route-returnUrl="~/admin/menu/create" target="_blank">
                            <i class="bi bi-plus-lg"></i>
                            </a>
                            </div>*@
                        </div>

                        <span asp-validation-for="Type_Id" class="text-denger"></span>

                    </div>
                    <div class="col-md-12">
                        <label for="mCategory" class="col-sm-12 col-form-label">Menu Category</label>
                        <div class="row">
                            <div class="col-12">

                                <select asp-for="Category_Id" class="form-control" id="mCategory">
                                    <option>-- Select a category --</option>
                                    @foreach (var item in Model.Menu_Category_List)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                          
                        </div>

                        <span asp-validation-for="Category_Id" class="text-denger"></span>

                    </div>


                 
                    <div class="col-md-12">
                        <label for="mUnit" class="col-sm-12 col-form-label">Menu Unit</label>
                        <div class="row">
                            <div class="col-12">

                                <select asp-for="Unit_Id" class="form-control" id="mUnit" onchange="getUnitDivision(this);">
                                    <option>-- Select a unit --</option>
                                    @foreach (var item in Model.Menu_Unit_List)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                         
                        </div>

                        <span asp-validation-for="Unit_Id" class="text-denger"></span>
                    </div>
                    <table class="table table-striped mb-0">
                        <div class="col-md-12 ">

                            <div class="row mb-2">
                                <div class="col-12 my-auto">
                                    <p class="fs-5 mb-0">Unit Detail</p>

                                </div>
                            </div>



                        </div>
                        <div class="wrappers mt-1">
                            @if (Model.MenuDetail.Count > 0)
                            {
                                foreach (var item in Model.MenuDetail.Select((value, i) => new { i, value }))
                                {


                                    <div class="fieldset" id="fieldset_0">
                                        <div class="fields">
                                            <div class="d-flex mb-2">
                                                <input name="MenuDetail[@item.i].Id" hidden value="@item.value.Id">
                                                <select name="MenuDetail[@item.i].Quantity" class="unitDivision form-control" id="unitDivision_@item.i">
                                                    @foreach (var at in Model.UnitDivision)
                                                    {
                                                        if (item.value.Quantity.ToString() == at.Value)
                                                        {
                                                            <option value="@at.Value" selected>@at.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@at.Value">@at.Text</option>
                                                        }
                                                    }
                                                </select>
                                                <input type="number" class="form-control me-2" placeholder="rate" name="MenuDetail[@item.i].Rate" value="@item.value.Rate" />
                                                <input type="radio" class="me-2 unitDefault" name="MenuDetail[@item.i].IsDefault" value="@item.value.IsDefault.ToString()" checked="@item.value.IsDefault" title="Is active divison?"/>
                                                <input type="radio" class="me-2 unitDelete" name="MenuDetail[@item.i].IsDelete" value="@item.value.IsDelete.ToString()" checked="@item.value.IsDelete" title="Want to delete ?"/>
                                                 
                                                @if (item.i == 0)
                                                {
                                                    <button type="button" class="add_unit_button btn btn-primary" onclick="addDivision()"> <i class="fa-solid fa-plus"></i></button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="delete_unit_button btn btn-danger" > <i class="fa fa-trash-o"></i></button>
                                                }4

                                            </div>

                                        </div>

                                    </div>
                                }
                            }
                            else
                            {
                                <div class="fieldset" id="fieldset_0">
                                    <div class="fields">
                                        <div class="d-flex mb-2">
                                            <select name="MenuDetail[0].Quantity" class="unitDivision form-control" id="unitDivision_0">
                                            </select>
                                            <input type="number" class="form-control me-2" placeholder="rate" name="MenuDetail[0].Rate" />
                                            <input type="radio" class="me-2 unitDefault" name="MenuDetail[0].IsDefault" checked value="true" />
                                            <button type="button" class="add_unit_button btn btn-primary" onclick="addDivision()"> <i class="fa-solid fa-plus"></i></button>

                                        </div>

                                    </div>

                                </div>

                            }

                        </div>




                    </table>


                    <div class="col-md-12">
                        <label for="orderTo" class="form-label">Order To </label>
                        <select asp-for="OrderTo" class="form-control" id="orderTo">
                            <option>-- Select to whom order goes --</option>
                            <option value="Kitchen">Kitchen</option>
                            <option value="Waiter">Waiter</option>
                            <option value="Bar">Bar</option>


                        </select>
                        <span asp-validation-for="OrderTo" class="text-denger"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="image" class="form-label">Image</label>
                        <input asp-for="Menu_Image" class="form-control" id="image" />
                        <span asp-validation-for="Menu_Image" class="text-denger"></span>
                    </div>


                    <div class="col-md-12 text-end">

                       @* <button type="reset" class="btn btn-danger me-3">Clear</button>*@
                        <button type="submit" class="btn btn-primary">Update</button>

                    </div>


                    <!-- End Multi Columns Form -->

                </div>
            </div>
        </div>


        @*Ingredients *@
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-heading  d-flex justify-content-between align-items-center">
                        <h5 class="card-title">Ingredients</h5>
                        <button type="button" class="btn btn-success" onclick="chooseProduct();">Choose product</button>
                    </div>
                    <!-- Multi Columns Form -->
                    <table class="table table-striped" id="productList">
                        <thead class="thead-dark">
                            <tr scope="row">
                                <th>
                                    Item Name
                                </th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tBody>
                            @if (Model.Menu_Incredian != null)
                            {
                                foreach (var item in Model.Menu_Incredian.Select((value, i) => new { i, value }))
                                {
                                    <tr>
                                        <td>

                                                        <input name="Menu_Incredian[@item.i].Id" hidden value="@item.value.Id">
                                            <input type='text' class='form-control-plaintext' name='Menu_Incredian[@item.i].Product_Name' readonly value='@item.value.Product_Name'>
                                            <input type='text' name='Menu_Incredian[@item.i].Product_Id' hidden readonly value='@item.value.Product_Id'>
                                        </td>
                                        <td>
                                            <input type='text' class='form-control-plaintext' name='Menu_Incredian[@item.i].Product_Unit_Id' readonly value='@item.value.Product_Unit_Id' hidden>
                                            <input type='text' class='form-control-plaintext' name='Menu_Incredian[@item.i].Product_Unit' readonly value='@item.value.Product_Unit'>
                                        </td>
                                        <td>
                                            <input type='text' class='form-control-plaintext' name='Menu_Incredian[@item.i].Quantity' readonly value='@item.value.Quantity'>
                                        </td>
                                        <td>
                                            <button type='button' class='btn btn-danger' onclick='RemoveProduct(@item.i)'><i class='bi bi-trash'></i></button>
                                        </td>


                                    </tr>
                                }

                            }


                            <span asp-validation-for="Menu_Incredian" class="text-danger"></span>
                        </tBody>

                    </table>


                </div>

            </div>

        </div>





    </div>
</form>
<form asp-action="chooseProduct"
      id="ChooseProductForm"
      asp-controller="purchase"
      asp-area="Admin"
      data-ajax="true"
      data-ajax-success="productLoader()"
      data-ajax-update="#selectionDiv"
      data-ajax-loading="#overlay">
    <button type="submit" hidden></button>

</form>
<div class="modal fade" id="selectionModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="selectionDiv">
        </div>
    </div>
</div><!-- End Extra Large Modal-->


<div class="modal fade" id="productPurchaseModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="pItemName"></h5>
                <input type="text" hidden id="pId">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-md-5">Quantity</div>
                    <div class="col-md-7">
                        <input type="number" class="form-control" id="pQuantity" min="1" value="1">
                    </div>
                    @* <div class="col-md-2">
                    <input type="text" class="form-control-plaintext productUnit"  id="pUnit">
                    </div>*@
                </div>
                <div class="row mb-1">
                    <div class="col-md-5 unit-class">Unit</div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="pUnitId" readonly hidden>
                        <input type="text" class="form-control" id="pUnit" readonly>

                        @*  <select class="form-control" id="pUnit">

                        @foreach (var item in Model.Menu_Unit_List)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                        </select>*@
                    </div>


                </div>
                @*  <div class="row mb-1">
                <div class="col-md-5">Total</div>
                <div class="col-md-7">
                <input type="number" class="form-control" id="pTotal" min="1" readonly>
                </div>
                </div>*@




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addProduct()">Add</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/createupdatemenu2.js">

    </script>
}

