@using LotusRMS.Models.Service;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<RMSUser> SignInManager
@inject UserManager<RMSUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                    {
                        <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
                    }
                    else if (User.FindFirst("image")?.Value != null)
                    {
                        <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="@User.FindFirst("image")?.Value">
                    }
                    <span class="d-none d-md-block dropdown-toggle ps-2">@UserManager.GetUserAsync(User).Result.FirstName</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.MiddleName @UserManager.GetUserAsync(User).Result.LastName</h6>
                        <span> </span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>


                    <li>
                        <a class="dropdown-item d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="MyProfile">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>


                    @*Galla View Here*@
                    @if (User.IsInRole("Admin") || User.IsInRole("Cashier"))
                    {
                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="" asp-controller="galla" asp-action="index">
                                <i class="fa-solid fa-sack-dollar"></i>
                                <div>
                                    <label style="cursor:pointer">My Galla </label>
                                    <label style="cursor:pointer">
                                        (<span class="text-danger">
                                            Rs.@{
                                                @inject IGallaService gallaService;
                                                var gallaAmount = await gallaService.GetGallaAmountAsync();
                                            }
                                            @gallaAmount
                                        </span>
                                        )
                                    </label>
                                </div>

                            </a>
                        </li>
                    }
                    <li>
                        <hr class="dropdown-divider">
                    </li>







                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" asp-area="" asp-controller="Account" asp-action="logout" onclick="return confirm('Are you sure you want to logout?')">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>


    }
    else
    {
        <ul class="d-flex align-items-center">
        <li class="nav-item mx-2 px-6">
            <a class="nav-link text-dark align-items-center" asp-area="" asp-controller="account" asp-action="login">Login</a>
        </li>
        </ul>
    }
</ul>
